/*      ARENA MAIN WINDOW (AND SUBVIEWS)        */

#mainWindowContainer{
    -fx-focus-color: -fx-control-inner-background ;
    -fx-faint-focus-color: -fx-control-inner-background ;
}

#contentView{
    -fx-background-color: linear-gradient(#0f171e, #0b031a);
}

HBox#tabView{
    -fx-background-color: #112;
    -fx-border-color: linear-gradient(#152029, #0e3d5e);
    -fx-border-width: 0 0 3px 0;
}

HBox#tabView Button{
    -fx-background-color: #152029;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-background-radius: 0 0 0 0;
    -fx-background-insets: 0 0 2px 0;
}

HBox#tabView Button:hover{
    -fx-background-color: #354e5d;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-background-radius: 0 0 0 0;

}

#gameList{
    -fx-background-color: #152029;
}

.gameButton{
    -fx-font-size: 1.2em;
    -fx-background-color: linear-gradient(#152029, #171a29);
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-padding: 20px 0 20px 0;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #000;
}

.gameButton:hover{
    -fx-background-color: #354e5d;
    -fx-font-family: "Arial";
}

StackPane#playViewSuperWindow{
    -fx-alignment: bottom-center;
}

/*      GAME INFORMATION VIEW       */

#gameInformationContainer{
    -fx-background-color: transparent;
    -fx-hbar-policy: never;
    /* -fx-background-color: #0f171d;*/
}

#gameInformationContainer > .viewport{
    -fx-background-color: transparent;
}

/*      SCROLL BAR PROPERTIES           */
#gameInformationContainer > .scroll-bar{
    -fx-background-color: transparent;
}

#gameInformationContainer > .scroll-bar .increment-button, #gameInformationContainer > .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-background-color: transparent;
    -fx-border: none;
}

#gameInformationContainer > .scroll-bar .thumb{
    -fx-background-color: #999;
    -fx-opacity: 0.3;
}
/* ////////////////////////////////// */

#gameInformationContent{

}

#gameInformationLeft{
    -fx-alignment: top-center;

}

#gameInformationRight{
    -fx-alignment: top-center;
}

#gameInformationDescriptionFlow{
    -fx-text-alignment: center;
}

.gameImage{
    -fx-pref-height: 100px;
    -fx-pref-width: 100px;
    -fx-background-color: red;
}

.gameName{
    -fx-font-size:4em;
    -fx-font-family: "Century gothic";
    -fx-text-fill: white;
    -fx-alignment: center;
}

.textDescription{
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-font-size: 2em;
}

.pinkButton {
    -fx-background-color: #FF09C1;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
    -fx-font-size: 3em;
}

.pinkButton:hover{
    -fx-background-color: #ff79df;
    -fx-font-family: "Helvetica";
}

.applyButtons {
       -fx-background-color: #A8A8A8;
       -fx-font-family: "Helvetica";
       -fx-font-size: 0.7em;
}

.applyButtons:hover{
    -fx-background-color: #818181 ;
    -fx-font-family: "Helvetica";
    -fx-text-fill: black;
    -fx-font-size: 0.7em;
}

#tournamentInformationContent{
    -fx-min-height: 1000px;
}

/*  Tournaments List        */

#activeTournamentsLabel{
    -fx-font-size: 6em;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
}

#tournamentsList{
    -fx-background-color: #112;
    -fx-border-color: #2a2a2a;
    -fx-border-width: 2px;
}

#tournamentsList{
    -fx-padding: 0.2em 0 0.2em;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: black;
    -fx-alignment: center;
}

#tournamentInfo{
    -fx-alignment: center;
}

#tournamentApplyBox{
    -fx-font-size: 2em;
}

#tournamentApplyLabel{
    -fx-text-fill: white;
}

#tournamentApplyButton{
    -fx-font-size: 0.7em;
}

/*          CREATE TOURNAMENT VIEW      */

#createTournamentContainer{

}

#createTournamentContent{
    -fx-alignment: center;
    -fx-font-size: 2em;
    -fx-font-family: "Century Gothic";
}

#createTournamentContent .tournamentLabel{
    -fx-text-fill: #354e5d;

}

#tournamentHBox{
    -fx-alignment: center;
}

#header{
    -fx-font-size: 2.5em;
}

.tournamentTextBoxes{
    -fx-background-color: #354e5d;
    -fx-text-fill: white;
    -fx-font-family: "Lucida Console"
}

.tournamentTextBoxes .content{
    -fx-background-color: #354e5d;
}

#tournamentDesc{
    -fx-pref-row-count: 5;
}

#tournamentSelectStyle{
    -fx-padding: 2em;
    -fx-alignment: center;
}

.tournamentConfigurationSubmitButton{
    -fx-font-size: 0.8em;
}

#extendedTournamentView{

    -fx-background-color: #152029;

}