#contentView{
    -fx-background-color: #001;
}

HBox#tabView{
    -fx-background-color: #112;
}

HBox#tabView Button{
    -fx-background-color: #152029;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-background-radius: 0 0 0 0;

}

HBox#tabView Button:hover{
    -fx-background-color: #354e5d;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-background-radius: 0 0 0 0;

}

#gameList{
    -fx-background-color: #0f171d;
}

.gameButton{
    -fx-background-color: #152029;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-background-radius: 0 0 0 0;
}

.gameButton:hover{
    -fx-background-color: #354e5d;
    -fx-font-family: "Century gothic";
    -fx-text-fill: white;
    -fx-background-radius: 0 0 0 0;

}

StackPane#playViewSuperWindow{
    -fx-alignment: bottom-center;
}

.gameImage{
    -fx-pref-height: 100px;
    -fx-pref-width: 100px;
    -fx-background-color: red;
}

.gameName{
    -fx-font-size:4em;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.textDescription{
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-font-size: 2em;
}